<div class='account-page' id='account-page'>
  <div class='account-page__inner clearfix'>
    <div class='account-page__inner--left account-page__header'>
      <h2>About Simplify</h2>
      <div class='left-info'>
            1日1捨てを継続し、片付けの習慣をつくり少しずつ<p>人生をかえる、断捨離した物をみんなで共有しよう!
            <p>やることは、断捨離したものを投稿するだけ!
            </div>
            <div class='right-info'>
            [できること]<p>
            ・みんなが断捨離したものを一覧で閲覧<p>
            ・自分の捨てたものをシェア<p>
            [こんな人におすすめ]<p>
            ・片付けが続かない人
            <p>・コレクション癖がある方<p>
            ・心のモヤモヤから手放せないものがある人
</div>
            </h3>
      <h4><%= link_to "トップページに戻る", :back, class: 'btn'%><h4>
    </div>
    </div>
    </div>
    