h1 {
  text-align: center;
}

.post {
  display: block;
  width: 150px;
  padding: 10px;
  border: 1px solid white;
  background-color: orange;
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.article {
  height: 200px;
  background-color: lightgray;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}

.article-genre {
  font-size: 20px;
  border: 1px solid;
  padding: 5px;
  background-color: lightblue;
}

.article-title {
  font-size: 30px;
  font-weight: bold;
}
/*カレンダー*/
#calendar {
  text-align: center;
  width: 100%;
}
table {
  outline: 2px solid #ddd;
  border-collapse: collapse;
  width: 100%;
}
th {
  color: #000;
}
th,
td {
  outline: 1px solid #ddd;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
/*日曜日*/
td:first-child {
  color: red;
}
/*土曜日*/
td:last-child {
  color: blue;
}
/*前後月の日付*/
td.disabled {
  color: #ccc;
}
/*本日*/
td.today {
  background-color: #d65e72;
  color: rgb(97, 94, 94);
}

/*ボタン*/
#next-prev-button {
  position: relative;
}
#next-prev-button button {
  cursor: pointer;
  background: #474541;
  color: #fff;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  margin: 1rem 0;
}
#next-prev-button button:hover {
  background-color: #f9f4ed;
  border-color: #f1ede8;
}
#prev {
  float: left;
}
#next {
  float: right;
}
.col-md-8 {
  max-width: 600px;
  margin: 0 auto;
  color: rgb(247, 247, 247);
}
#header {
  text-align: center;
  font-size: 24px;
  width: 100%;
  margin: 1rem 0 0;
}
